extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Seth Lewis

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am an ambitious, thorough, and creative JavaScript Developer at the service of your business or company.
            br 
            br
            | I am passionate about building beautiful, intuitive, and intelligent websites and applications. 
            br 
            br
            | I love writing JavaScript and working with people and technologies to accomplish tangible goals and provide clients with products they are proud of.
            br
            br
            | I am a voracious learner, a competitive businessman, and the hardest-working person I know. I expect excellence from myself in every endeavor I undertake. 
          p.lead.text-light With me, you will:
            li.no-bullets    Receive the utmost care and attention to your business needs or your company's tasks
            li.no-bullets    Increase your profit and productivity
            li.no-bullets    Have a dedicated business partner for life or a trustworthy employee eagerly at your service

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills/Technologies

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML5
          li CSS
          li Full Stack JavaScript
          li Async JavaScript Development
          li Web Forms
          li Responsive Web Design 
          li SQL 
          li SQLite 
          li Sequelize
          li Postman
          li Mongoose
          li Express
          li React
          li Node.js
          li Pug/Jade
          li UI/UX
          li Local WP Development
          li API Development
          li AWS &amp; ASK Development
          li Site routing &amp; error handling
        h6 Let's work together!

        //- Add your own contact info
        ul
          li 570-862-5376
          li skiprjak93@protonmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/seth-lewis-a308191a6/') LinkedIn
        a.button.expanded(href='https://github.com/sethlewis93') GitHub
        a.button.expanded(href='https://twitter.com/SethLew90073098') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  